@model MoviesMoo.Models.Movies

@{

}
<style>
    #Image {
        flex: 33.33%;
        float: right;
        padding: 5px;
    }
    body {
        margin: 0px;
        padding: 0px;
        background-color: palevioletred;
        font-family: 'Chivo', sans-serif;
        font-size: 12pt;
        font-weight: 300;
        color: white;
    }
  

</style>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="align-self-auto"id="Image">
        <dt class="right">
            @Html.DisplayFor(model => model.AltPhoto)
        </dt>
        <dd class="border-right" id="Image">
            @{
                if (Model.MoviesPhoto != null)
                {
                    string imageBase64 = Convert.ToBase64String(Model.MoviesPhoto);
                    string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

                    <img src="@imageSrc" alt="@Model.AltPhoto" width="300" height="500" />
                }
            }
        </dd>
        </dl>
    <dl class="rounded-right">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleasDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberInStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DocxContant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocxContant)
        </dd>
        <dd>
            <iframe width="560"
                    height="315"
                    src="@Model.TrailerUrl"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    class="responsive"></iframe>
        </dd>

    </dl>
</div>
